<launch>

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />
  <arg name="sim" default="false" />
  <arg name="rviz" default="false" />

  
  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(dirname)/rbvogui_xl_control.launch">
    <arg name="rviz" default="$(arg rviz)" />
    <arg name="debug" value="$(arg debug)"/>
    <!--arg name="sim" value="$(arg sim)"/-->
  </include>

  <include file="$(find file_server)/launch/file_server.launch">
  </include>
  
</launch>